# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea
.idea/
.idea/*
.vscode
.vscode/*

# build
build
build/
cmake-build-debug
cmake-build-debug/

# ready_trader_go
ready_trader_go/__pycache__
ready_trader_go/__pycache__/
ready_trader_go/hud
ready_trader_go/hud/

# autotrader
autotrader
autotrader.log
exchange.log
info.dat
*.csv
